@media (max-width:576px) {
    .border_section {
        border: 2px solid black;
        padding-left: 10px;
        padding-bottom: 15px;
        margin-top: 3px;

    }
    .space {
        padding-bottom: 10px;
    }
    .font_size {
        font-size: 35px;
    }
    .medium_section {
        display: none;
    }
    .p_tag {
        font-size: 18px;
    }
}

/** {
    border: 2px solid black;
}*/

@media(min-width:768px) {
    .font_size {
        font-size: 35px;
    }
    /*.border_section {*/
    /*    border: 2px solid black;*/
    /*    padding-left: 30px;*/
    /*    padding-bottom: 25px;*/
    /*    margin-top: 3px;*/
    body {
        padding: 10%;
    }

    /*.space {*/
    /*    padding-bottom: 10px;*/
    /*}*/
    .bgcolor {
        background-color: grey;
    }

}
