 .header_div {
  display: flex;
  background-color: black;
  justify-content: space-between;
  padding-top: 2%;
  padding-bottom: 2%;
 }

 .image_change {
  filter: invert(100%);

 }

 .btn1 {
  background-color: black;
  border-color: white;
  border-radius: 3px;
  color: white;
  width: 80px;
  height: 30px;

 }

 .explore {
  color: gray;
  text-align: center;
 }

 .topics_div {
  display: flex;
  justify-content: center;
  color: gray;
 }

 .topics_div>p {
  padding-right: 2%;
 }

 .topics_content {
  text-align: center;
  border-bottom: 1px solid whitesmoke;
  border-top: 1px solid whitesmoke;
  padding-bottom: 40px;
  padding-top: 3%;
  background-color: whitesmoke;

 }

 .topics_content>p {
  color: gray;
  font-weight: bold;
 }

 .three {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
 }

 .three>div>img {
  width: 80px;
  height: 50px;

 }

 .three>div {
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  margin-bottom: 3%;

 }

 .apps_div>div {
  padding-bottom: 3%;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
 }

 .apps_div>div>img {
  width: 50px;
  height: 50px;
  align-self: center;
 }

 .one>img,
 .two>img,
 .theen>img,
 .eight>img,
 .fifteen>img {
  background-color: aliceblue;
 }

 .apps_div>div>div {
  width: 60%;
 }

 a {
  border: 1px solid black;
  color: #0080ff;
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 3%;
  padding-bottom: 3%;

 }

 .foot1,
 .foot2 {
  display: flex;

 }

 .btn {

  background-color: aliceblue;
  margin: 3px;
  color: #0080ff;
  flex: 1 1 auto;
  border: 1px solid aliceblue;
 }

 /** {*/

 /* border: 1px solid black;*/

 /*}*/
@media(min-width:144px){
 .flexbox_1{
  display: none
 }
}
 @media(min-width:768px)
{
 .flexbox{
  display:none;
 }
} 