.flexbox {
    /*display: flex;*/
}

.logodiv {
    display: flex;
    align-items: center;
    border-bottom: 2px solid lightgrey;

}

.logoimg {
    width: 30px;
    height: 30px;
}

.gmailtext {
    display: flex;
    color: grey;
    font-size: 20px;
    flex-grow: 1;

}

.btn {
    display: flex;
    background-color: dodgerblue;
    color: white;
    padding: 15px;

}

.signdiv {
    display: flex;
    justify-content: space-between;
    color: grey;
    box-shadow: 0 2px 6px 0 lightgrey, inset 0 -1px 0 0 #dadce0;
}

.getmorediv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: flex;
    align-self: center;
}

p {
    display: flex;
    align-self: center;
}

.btn1 {
    display: flex;
    background-color: dodgerblue;
    color: white;
    width: 80px;
    height: 40px;
    align-self: center;
    margin-top: 10%;
}

.size {
    width: 15%;
    height: 50px;
}

.expdiv,
.staydiv,
.neverdiv,
.takeactiondiv,
.avoiddiv,
.getstarteddiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.googlediv {
    display: flex;
    justify-content: center;
}

.size1 {
    width: 60%;
}

.logoimg2 {
    width: 90px;
}

h3 {
    color: #595959;
}

.innerfooter {
    display: flex;
    justify-content: space-between;
}

.footertext {
    color: gray;
}

.footerlastdiv {
    display: flex;
    align-items: center;
}

.img_que {
    width: 20px;
    height: 20px;
}

.english {
    display: flex;
    flex-grow: 1;
}

@media (max-width:357px) {
    .tabheaderdiv,
    .tabh1 {
        display: none;
    }
}

@media(min-width:400px) {
    .tabheaderdiv,
    .tab_getimgdiv {
        display: none;
    }
}

@media (min-width:768px) {
    .logodiv,
    .signdiv,
    .getmorediv {
        display: none;
    }
    .tabheaderdiv {
        display: flex;
        align-items: center;
        box-shadow: 0 2px 6px 0 lightgrey, inset 0 -1px 0 0 #dadce0;
    }
    .tabforwork,
    .tabsignin {
        margin-right: 3%;
        color: gray;
    }
    .tab_getmorediv {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50%;
    }
    .tab_getimgdiv {
        display: flex;
        justify-content: space-around;
    }
    .tablandimg {
        height: 200px;
        object-fit: contain;
        width: 50%;
    }
    .tabbtn {
        width: 30%;
        height: 20%;
        align-self: flex-start;
        background-color: dodgerblue;
        color: white;
    }
    h1 {
        align-self: flex-start;
    }
    .tabh1 {
        align-self: center;
    }
}

* {

    border: 2px solid black;

}
