.flexbox {
    /*display: flex;*/
}

.logodiv {
    display: flex;
    align-items: center;
    border-bottom: 2px solid lightgrey;

}

.logoimg {
    width: 30px;
    height: 30px;
}

.gmailtext {
    display: flex;
    color: grey;
    font-size: 20px;
    flex-grow: 1;

}

.btn {
    display: flex;
    background-color: dodgerblue;
    color: white;
    padding: 15px;

}

.signdiv {
    display: flex;
    justify-content: space-between;
    color: grey;
    box-shadow: 0 2px 6px 0 lightgrey, inset 0 -1px 0 0 #dadce0;
}

.getmorediv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: flex;
    align-self: center;
}

p {
    display: flex;
    align-self: center;
}

.btn1 {
    display: flex;
    background-color: dodgerblue;
    color: white;
    width: 80px;
    height: 40px;
    align-self: center;
    margin-top: 10%;
}

.size {
    width: 15%;
    height: 50px;
}

.expdiv,
.staydiv,
.neverdiv,
.takeactiondiv,
.avoiddiv,
.getstarteddiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.googlediv {
    display: flex;
    justify-content: center;
}

.size1 {
    width: 60%;
}

.logoimg2 {
    width: 90px;
}

h3 {
    color: #595959;
}

.innerfooter {
    display: flex;
    justify-content: space-between;
}

.footertext {
    color: gray;
}

.footerlastdiv {
    display: flex;
    align-items: center;
}

.img_que {
    width: 20px;
    height: 20px;
}

.english {
    display: flex;
    flex-grow: 1;
}

.tabheaderdiv,
.tabh1,
.tabstaynever,
.tab-take-action-div,
.tab_getimgdiv,
.tab-avoid-div,
.tab-footer,
.tab-expdiv,
.tab-getstarteddiv {
    display: none;
}


@media (min-width:768px) {

    .flexbox2 {
        display: flex;
        flex-direction: column;
        background-color: white;

    }

    .flexbox2>div {
        margin-bottom: 10%;

    }
    .tabh1 {
        display: flex;
    }

    .logodiv,
    .signdiv,
    .getmorediv,
    .staydiv,
    .neverdiv,
    .avoiddiv,
    .takeactiondiv,
    .footer,
    .expdiv,
    .getstarteddiv {
        display: none;
    }
    .tabheaderdiv {
        display: flex;
        align-items: center;
        box-shadow: 0 2px 6px 0 lightgrey, inset 0 -1px 0 0 #dadce0;
    }
    .tabforwork,
    .tabsignin {
        margin-right: 3%;
        color: gray;
    }
    .tab_getimgdiv {
        display: flex;
        justify-content: center;
        background-color: whitesmoke;
    }
    .tab_getmorediv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
    }

    .tablandimg {
        height: 500px;
        object-fit: contain;
        align-self: center;
        width: 50%;
    }
    .tabbtn {
        width: 100px;
        height: 50px;
        align-self: flex-start;
        background-color: dodgerblue;
        color: white;
    }


    h1,
    p {
        align-self: flex-start;
    }

    .tabh1 {
        align-self: center;
    }
    .googlediv {
        margin-bottom: 4%;
    }
    .google {
        padding-right: 1%;
    }
    .expimg {
        width: 800px;
    }

    .tabstaynever {
        display: flex;
        justify-content: space-around;
    }
    .tab-stay,
    .tab-never {
        display: flex;
        flex-direction: column;
        padding: 2%;
        width: 45%;
        background-color: whitesmoke;
    }

    .tab-size {
        width: 430px;
        padding-bottom: 6%;
        margin-top: 9%;
    }

    .tab-take-action-div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 1;
    }

    .tab_action {
        width: 45%;
    }

    .tab-avoid-div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: whitesmoke;
        padding-bottom: 3%
        /*flex: 1;
        */
    }
    .tab_avoid {
        width: 45%;
    }
    img {
        width: 400px;
    }
    .tab-footer {
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        margin-top: 4%;
    }
    .tab-innerfooter {
        display: flex;
        padding-bottom: 3%;
        justify-content: space-between;

    }
    .tab-drop {
        width: 20px;
    }
    .img_que {
        width: 20px;
        height: 20px;
        align-self: center;
    }

    .tab-getstarteddiv {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}
