
#addCarButton{
    width:100px;
    height:50px;
    background-color:dodgerblue;
    border-radius: 5px;
    color:white;
    font-size:15px;
}

body {
    background-color: lightgrey;
}

#carClass {
    /*display: none;*/
    margin-top: 5%;
    width: 430px;
    height: 200px;
    background-color: white;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 4%;
    border-radius:5px;
}
.start-button{
    display: inline;
    background-color: green;
    position: relative;
}

.stop-button{
    background-color: red;
}

.start-and-stop{
     background-color:green;
             width: 80px;
            height: 45px;
            color:white;
             font-size:15px;
            border:2px solid white;
             border-radius:6px;
}
#accelerateAndDecelerte {
    display: flex;
    justify-content: space-between;
}
#accelerateAndDecelerte button:disabled{
    pointer-events:none;
}

#accelerateButton {
    width: 100px;
    height: 45px;
    color: #adebeb;
    font-size: 15px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #adebeb;
}

#decelerateButton {
    width: 100px;
    height: 45px;
    color: #ff9999;
    font-size: 15px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #ff9999;
}
