.outerdiv {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 500px;
    border: 1px solid black;
}

.innerdiv {
    border: 1px solid grey;
    display: flex;
    justify-content: space-around;
    margin-left: 2%;
    margin-right: 2%;
}

#output {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    height: 80px;
    width: 475px;
    background-color: black;
    border: 1px solid grey;
    color: white;
    font-size: 25px;
}

.firstcol,
.secondcol,
.thirdcol {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;

}

.firstcol>button,
.secondcol>button,
.thirdcol>button,
.div {

    width: 80px;
    height: 60px;
    border: 1px solid grey;
    border-radius: 3px;
}

.fourthcol {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
}

.equal {
    width: 80px;
    height: 300px;
    border: 1px solid grey;
    color: white;
    background-color: dodgerblue;
    border-radius: 3px;
}

.ac {
    background-color: red;
    color: white;
}

button {
    font-size: 20px;
}

.add,
.sub,
.mul,
.div {
    color: dodgerblue;
}
