#carClass {
    margin-top: 10%;
    width: 430px;
    height: 300px;
    background-color: white;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 4%;
}

#startButton {

    background-color: green;
    position: relative;
}

.start-and-stop {
    width: 80px;
    height: 45px;
    color: white;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 6px;

}

#stopButton {
    display: none;
    background-color: red;
}


#accelerateAndDecelerte {
    display: flex;
    justify-content: space-between;
}

.same-style {
    width: 100px;
    height: 45px;
    color: white;
    font-size: 15px;
    background-color: grey;
    border-radius: 6px;
    border: 1px solid white;
}
