body {
  background-color: #e0e0e0;
  margin: 0px;
  font-family: sans-serif;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.one {
  background-color: orange;
  flex: 1 1 700px;

}

.two {
  background-color: saddlebrown;

  min-width: 300px;
  /*flex-grow: 2;*/
  flex: 2 0 0;

}

.three {
  background-color: green;

  /*flex-grow: 1;*/
  flex: 1 0 0;
  min-width: 300px;

}

.item {

  height: 90px;

}
